<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <span class="text-muted">docker node - <a href="https://gitlab.com/redjax/docker_node-server" target="_blank">Gitlab</a>
            </div>
        </div>
    </div>
</footer>
