<!-- Navbar -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">

        <!-- Nav collapse button -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- End nav collapse button -->

        <!-- Page brand/icon -->
        <img src="/img/gear-icon.png" alt="" width="30" height="24">
        <a class="navbar-brand" href="/">
          docker node
        </a>
  
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav nav-pills navbar-nav-scroll">
              <li class="nav-item">
                  <li class="nav-item">
                      <a class="nav-link {% if (active == 'test') %}active{% endif %}" href="/test">
                        test
                      </a>
                  </li>
              </li>

              <li class="nav-item">
                <li class="nav-item">
                    <a class="nav-link {% if (active == 'about') %}active{% endif %}" href="/about">
                      about
                    </a>
                </li>
              </li>

              <li class="nav-item">
                <a class="nav-link {% if (active == 'examples') %}active{% endif %}" href="/examples">
                  examples
                </a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
              </li>
          </ul>
        </div>

        <div class="dropdown d-flex">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            Dropdown form
          </button>
          <form class="dropdown-menu p-4">
            <div class="mb-3">
              <label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
            </div>
            <div class="mb-3">
              <label for="exampleDropdownFormPassword2" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                <label class="form-check-label" for="dropdownCheck2">
                  Remember me
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
        </div>

      </div>
    </nav>
  </header>
  <!-- End Navbar -->
  