{% extends "base.html" %}
{% block content %}
<div class="row justify-content-md-center">
<div class="col-md-auto">
    <div class="jumbotron">
        <h1>This is great!</h1>
        <p>This site uses Nunjucks for templating 🤘</p>
    </div>
</div>
</div>

<div class="row justify-content-md-center">
<div class="col-md-auto">
    <span>Example image</span>
    <br>
    <img src="{{ example_img }}" class="img-fluid" />
</div>
</div>

{% endblock content %}