{% extends "base.html" %}

{% block content %}

<div class="d-flex">
        <div class="container-fluid">
            <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h1>Examples</h1>
            </div>
            </div>

            <div class="row justify-content-md-center text-success">
                <hr class="border border-dark border-1 opacity-50">
            </div>

            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <h2>
                        Example form inputs
                    </h2>

                    <span>Examples of various Bootstrap forms</span>
                </div>
            </div>

            <br>

            <div class="row justify-content-md-center">
                <div class="col-md-auto border rounded">

                    <h2>Form example</h2>
                    <span>This is an example of a form, which makes a POST request to /examples/submit-form, then redirects to this form page.</span>

                    {% block example_form %}
                    {% include "examples/modules/example_form.html" %}
                    {% endblock example_form %}
                </div>

                <div class="col-md-auto border">

                    <h2>File upload examples</h2>
                    <span>Examples of inputs for uploading files</span>

                    {% block example_file_inputs %}
                    {% include "examples/modules/example_file_input.html" %}
                    {% endblock example_file_inputs %}

                </div>
            </div>

            <br>

            <div class="row justify-content-md-center">
                <div class="col-md-auto text-center">
                    <h2>
                        Example pickers/selctors
                    </h2>
                    
                    <span>Examples of a color picker, datalist</span>
                </div>
            </div>

            <div class="row justify-content-md-center">

                <div class="col-md-auto border">

                    <h2>Color picker example</h2>

                    {% block colorpicker %}
                    {% include "examples/modules/example_colorpicker.html" %}
                    {% endblock colorpicker %}
                </div>

                <div class="col-md-auto border">

                    <h2>Data list example</h2>
                    <span>Search for an item in a data list. Options for this list are:
                        <ul class="list-unstyled">
                            <li >
                                "Test"
                            </li>
                            <li >
                                "Another test"
                            </li>
                            <li >
                                "What do I search?"
                            </li>
                            <li >
                                "This is an additional option"
                            </li>
                        </ul>
                    </span>

                    {% block dataList %}
                    {% include "examples/modules/example_datalist.html" %}
                    {% endblock dataList %}
                </div>
            </div>

            <br>

            <div class="row justify-content-md-center">

                <div class="col-md-auto border">
                    
                    <h2>Example of a <a href="https://getbootstrap.com/docs/4.3/content/figures/">figure</a></h2>

                    <span>Desciption from Bootstrap: Anytime you need to display a piece of content—like an image with an optional caption, consider using a "figure".</span>

                    <div class="row">
                        <div class="col-md-auto">
                            {% block figure %}
                            {% include "examples/modules/example_figures.html" %}
                            {% endblock figure %}
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="row justify-content-md-center">
                <div class="col-md-auto border">

                    <h2>Example of <a href="https://getbootstrap.com/docs/4.3/content/code/">code tags</a></h2>

                    <span>Bootstrap has some classes for various code inputs</span>

                    {% block code_examples %}
                    {% include "examples/modules/example_code.html" %}
                    {% endblock code_examples %}
                </div>
            </div>
    </div>
</div>

{% endblock content %}