{% extends 'base.html' %} {% block content %}
<div class="container text-center">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1>This is the home page for docker node</h1>
    </div>
  </div>

  <br>

  <div class="row justify-content-md-center">
    <div class="col-md-auto">
        <h2>This is an h2 elem</h2>
    </div>
  </div>

  <br>

  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      
      <h1>Dockerized Express server</h1>

        <p>
            I'm building up a Dockerized Express server boilerplate! This is an example page/server, meant to be simple.
        </p>

        <p>
            The pages on the site are meant to be generic, demonstrating capabilities and offering examples.
        </p>

        <h2>Variables</h2>

        <p>{{ tagline }}</p>

        <!-- Loop over data -->
        <ul class="list-unstyled">
        {% for mascot in mascots %}
            <li>
                <strong>
                    {{ mascot.name }}
                </strong>
                representing {{ mascot.organization }}
                born {{ mascot.birth_year }}
            </li>
        {% else %}
        <li>
            This will display if "mascots" collection is empty/not found
        </li>
        {% endfor %}
        </ul>
      
    </div>
  </div>

  <row class="row justify-content-md-center">
    <div class="row">
      <div class="col">
        <h3>Example table</h3>
      </div>
    </div>
    <div class="col">
        {% include 'examples/modules/example_table.html' %}
    </div>
  </row>
</div>
{% endblock %}

