<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    {% block head %}
    <!-- Required meta tags-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Site favicon -->

    <!-- Set page title -->
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>FastAPI - Boilerplate</title>
    {% endif %}
    <!-- Import template file with CSS/icon lang/etc imports -->
    {% include 'live/modules/imports/head_imports.html' %} {% endblock head %}
  </head>

  {% block body %}
  <body class="d-flex flex-column min-vh-100">
    <!-- Import template file with navbar for all pages -->
    {% include 'live/modules/navbars/navbar.html' %}

    <main class="flex-shrink-0 p-2">
      <br />
      <!-- Page content -->
      <div class="d-flex flex-column">
        <!-- align-item-center -->
        <div class="container-fluid">
          <div class="row">{% block content %} {% endblock %}</div>
        </div>
      </div>
      <!-- End page content -->
    </main>

    <br>

    {% block footer %} {% include 'live/modules/footers/footer.html' %} {% endblock %}
    {% block javascript %}
    <!-- Javascript imports. Leave at bottom, just before </body> -->
    <!-- Bootstrap Bundle with Popper CDN -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
      integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
      crossorigin="anonymous"
    ></script>
    {% endblock %}
  </body>
  {% endblock %}
</html>
