<div class="card" style="width: 18rem;">
    <img src="{{ card_img }}" class="card-img-top">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>