<div class="container-fluid">
    <figure class="figure">
        <img src="{{ figure_img }}" class="figure-img img-fluid rounded" alt="A nice picture of a ladybug" />
        <figcaption class="figure-caption">This is an example of a caption for a figure.</figcaption>
    </figure>
</div>