<div class="container-fluid">
    <label for="exampleColorInput" class="form-label">Example color picker</label>
    <input type="color" class="form-control form-control-color" id="exampleColorInput" name="exampleColorInput" value="#563d7c" title="Choose a color!" />
</div>