<div class="container-fluid">
    <div class="row d-flex justify-content-md-start">
        <div class="col-md-auto">
            <h3>Inline code</h3>

            This is an example of inline code: <code>&lt;p&gt;I'm not actually a paragraph 😮&lt;/p&gt;</code>
        </div>

        <div class="col-md-auto">
            You can do multiple lines of code with the &lt;pre&gt; tag:

            <p>
                <pre>
                    <code>
                        &lt;p&gt;Example line 1&lt;/p&gt;
                        &lt;p&gt;Example line 2&lt;/p&gt;
                    </code>
                </pre>
            </p>
        </div>
    </div>

    <div class="row d-flex justify-content-md-start">
        <div class="col-md-auto">
            <h3>User input</h3>

            <span>You can use the <code>&lt;kbd&gt;kbd&lt;/kdb&gt;</code> tag to denote keyboard input</span>

            <p>
                Command to switch directories: <kbd>cd</kbd>
            </p>

            <span>Example of multiple keys in keyboard sequence (nested <code>&lt;kbd&gt; tags)</code>:</span>

            <p> Settings: 
                <kbd>
                    <kdb>
                        ctrl
                    </kdb>
                    +
                    <kbd>
                        ,
                    </kbd>
                </kbd>
            </p>

            <p>
                Copy:

                <kbd>
                    <kbd>
                        ctrl
                    </kbd>
                    +
                    <kbd>
                        c
                    </kbd>
                </kbd>
            </p>

            <p>
                Paste:

                <kbd>
                    <kbd>
                        ctrl
                    </kbd>
                    +
                    <kbd>
                        v
                    </kbd>
                </kbd>
            </p>
        </div>
    </div>

    <div class="row d-flex justify-content-md-start">
        <div class="col-md-auto">
            
            <h2>The <code>&lt;samp&gt; tag</code></h2>

            <span>Used to denote output of a program, i.e. terminal output</span>

            <p>
                <code>$ echo "Hello, world!"</code>

                <p>
                    <samp>
                        $ Hello, world!
                    </samp>
                </p>
            </p>
        </div>
    </div>
</div>