<div class="container-fluid">
    <form action="/examples/submit-form" method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleEmail" aria-describedby="emailHelp" name="exampleEmail" />
            <div id="emailHelp" class="form-text">
                This email is not written to any database, it's just an example for the form.
            </div>
        </div>

        <div class="mb-3">
            <label for="examplePassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="examplePassword" aria-describedby="passwordHelp" name="examplePassword" />
            <div id="passwordHelp" class="form-text">
                This password is not written to any database, it's just an example for the form. It <i>is</i> logged to the debug console, so do not enter a real password.
            </div>
        </div>

        <div class="mb-3 form-check">
            <label class="form-check-label" for="exampleCheck">Check me out!</label>
            <input type="checkbox" class="form-check-input" id="exampleCheck" name="exampleCheck" />
        </div>

        <button type="submit" class="btn btn-primary">Submit form</button>
    </form>
</div>