<div class="container-fluid">
    <label for="exampleDataList" class="form-label">Datalist example</label>
    <input class="form-control" list="dataListOptions" id="exampleDataList" placeholder="type to search..." />

    <datalist id="dataListOptions" name="dataListOptions">
        <option value="Test"></option>
        <option value="Another test"></option>
        <option value="What do I search?"></option>
        <option value="This is an additional option"></option>
    </datalist>
</div>