<div class="container-fluid">
    <div class="mb-3">
        <label for="formFile" class="form-label">Single file input example</label>
        <input class="form-control" type="file" id="singleFileForm" name="singleFileForm" />
    </div>

    <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Multiple files input example</label>
        <input class="form-control" type="file" id="formFileMultiple" name="formFileMultiple" />
    </div>

    <div class="mb-3">
        <button class="btn btn-primary" type="submit" disabled>Submit file</button>
    </div>
</div>